<div class="form project__section">
    <form class="page__form" enctype="multipart/form-data">
      <div class="message">
        <div *ngIf="message.succes" class="notif--succes"> <i class="fa fa-check"></i> {{message.succes}}</div>
        <div *ngIf="message.error" class="notif--error"> <i class="fa fa-times"></i> {{message.error}}</div>
        <div *ngIf="message.warning" class="notif--warning"> <i class="fa fa-exclamation-triangle"></i> {{message.warning}}</div>
        <div class="clear"></div>
      </div>

      <h4>{{'Projectpartners' | translate}}</h4>
      <mat-form-field class="fullpage" class="tags" > <!-- [disabled]='!(isAdmin || editable_by.partners.includes(AuthenticatedUser))' -->
        <mat-chip-list  #chipList [disabled]='!(isAdmin || editable_by.partners.includes(AuthenticatedUser))'>
            <mat-chip *ngFor="let partner of projectCredentials.partners" [selectable]="selectable"
                      [removable]="removable" (remove)="removeTag(partner, 'partner')">
              {{partner.name}}
              <i matChipRemove *ngIf="removable" class="fa fa-times" aria-hidden="true"></i>
            </mat-chip>
           <input
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="addTag($event, 'partner')" />
          </mat-chip-list>
      </mat-form-field>
      <div class="buttons-right">
            <button mat-button class="button--validate" (click)="isExpandedValidate.projectpartner = !isExpandedValidate.projectpartner"><i class="fa fa-check" aria-hidden="true"></i></button>    
      </div><div class="clear"></div>
      <app-validate class="select" #cmp *ngIf="projectCredentials.partnerValidate && projectCredentials.partnerValidate.validate" [projectCredentials]="projectCredentials.partnerValidate.validate"  [hidden]='!isExpandedValidate.projectpartner'></app-validate>

      <h4>{{'Projectmedewerkers' | translate}}</h4>
      {{participants_type}}

    <mat-grid-list class="row" *ngFor="let participant of Arr(AmountParticipant).fill(1); let i = index;" cols="2" rowHeight="2:1">
      <mat-form-field class="col-sm-4 selectType">   <!-- [disabled]='!(isAdmin || editable_by.participants.includes(AuthenticatedUser))' -->
            <mat-select [disabled]='!(isAdmin || editable_by.participants.includes(AuthenticatedUser))' name="participanttype" [(ngModel)]="participants_type[i]" (change)="changetype($event.value, i, 'new')"> <!-- [(ngModel)]="participants_type[i]"  -->
               <mat-option *ngFor="let data of participants_data" [value]="data.typeParticipant"> {{data.typeParticipant}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div class="col-sm-8">
              <mat-form-field class="form__value" > <!-- [disabled]='!(isAdmin || editable_by.participants.includes(AuthenticatedUser))'  -->
                  <mat-select [disabled]='!(isAdmin || editable_by.participants.includes(AuthenticatedUser))' name="participantvalue" [(ngModel)]="participants[i]">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let data of participants_filter_data[i]" [value]="data.id" >{{data.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
          </div>
    </mat-grid-list>

    <div class="buttons-right">
        <button mat-button class="button--validate" (click)="plusField('AmountParticipant')"><i class="fa fa-plus"></i></button>
        <button mat-button class="button--validate" (click)="minusField('AmountParticipant')"><i class="fa fa-minus"></i></button>
        <button mat-button class="button--validate" (click)="isExpandedValidate.participant = !isExpandedValidate.participant"><i class="fa fa-check" aria-hidden="true"></i></button>    
    </div><div class="clear"></div>
    <app-validate class="select" #cmp *ngIf="projectCredentials.participantValidate && projectCredentials.participantValidate.validate" [projectCredentials]="projectCredentials.participantValidate.validate"  [hidden]='!isExpandedValidate.participant'></app-validate>

    <h4>{{'Financieringsvormen' | translate}}</h4>
    <input [disabled]='!(isAdmin || editable_by.financingforms.includes(AuthenticatedUser))' (change)="addFinancingform($event)" placeholder="{{'nieuwe financieringsvorm' | translate}}">
    
    <h6> {{'Selecteer financieringsvorm' | translate}}</h6>
    <mat-form-field class="selectUppercase fullpage">
      <mat-select [disabled]='!(isAdmin || editable_by.financingforms.includes(AuthenticatedUser))' name="financingforms" [(ngModel)]="financingforms" multiple>
          <mat-option *ngFor="let data of financingforms_data" [value]="data.id" >{{data.name}}</mat-option>
      </mat-select>
    </mat-form-field> <br>

          <div class="buttons-right">
            <button mat-button (click)="isExpandedValidate.financingforms = !isExpandedValidate.financingforms" class="button--validate"><i class="fa fa-check" aria-hidden="true"></i></button>    
      </div><div class="clear"></div>
    <app-validate class="select" #cmp *ngIf="projectCredentials.financingformValidate && projectCredentials.financingformValidate.validate" [projectCredentials]="projectCredentials.financingformValidate.validate"  [hidden]='!isExpandedValidate.financingforms'></app-validate>
 

    <h4>{{'Tags' | translate}} ({{'minimaal' | translate}} 3)</h4>
      <mat-form-field class="fullpage" class="tags" >
        <mat-chip-list #chipList>
            <mat-chip *ngFor="let tag of projectCredentials.tags" [selectable]="selectable"
                      [removable]="removable" (remove)="removeTag(tag, 'tag')">
              {{tag.name}}
              <i matChipRemove *ngIf="removable" class="fa fa-times" aria-hidden="true"></i>
            </mat-chip>
           <input
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="addTag($event, 'tag')" />
          </mat-chip-list>
      </mat-form-field>

      <div>
        <label id="links" for="links">{{'Links' | translate}}</label><br>
        <div *ngFor="let link of Arr(AmountLinks).fill(1); let i = index;"> 
          <input [disabled]='!(isAdmin || editable_by.links.includes(AuthenticatedUser))' name="links" type="text" maxlength="255" *ngIf="links[i]" [(value)]="links[i]" (change)="addLink($event, i)" /> 
          <input [disabled]='!(isAdmin || editable_by.links.includes(AuthenticatedUser))' name="links2" type="text" maxlength="255" *ngIf="!links[i]" (change)="addLink($event, i)" />
        </div>
        <div class="buttons-right">
            <button mat-button class="button--validate" (click)="plusField('AmountLinks')"><i class="fa fa-plus"></i></button>
            <button mat-button class="button--validate" (click)="minusField('AmountLinks')"><i class="fa fa-minus"></i></button>
            <button mat-button (click)="isExpandedValidate.links = !isExpandedValidate.links" class="button--validate"><i class="fa fa-check" aria-hidden="true"></i></button>    
        </div><div class="clear"></div>
     <app-validate class="select" #cmp *ngIf="projectCredentials.linkValidate && projectCredentials.linkValidate.validate" [projectCredentials]="projectCredentials.linkValidate.validate"  [hidden]='!isExpandedValidate.links'></app-validate>

    </div>

      <button class="button--save" mat-button (click)="save()" >{{'Opslaan' | translate}}</button>
      <button class="button--save" *ngIf="isAdmin" mat-button (click)="validate()">{{'Valideren'| translate}}</button>

      </form>
    </div>
