<div class="settings">
    <div class="message">
        <div *ngIf="message.succes" class="notif--succes"> <i class="fa fa-check"></i> {{message.succes}}</div>
        <div *ngIf="message.error" class="notif--error"> <i class="fa fa-times"></i> {{message.error}}</div>
        <div *ngIf="message.warning" class="notif--warning"> <i class="fa fa-exclamation-triangle"></i> {{message.warning}}</div>
        <div class="clear"></div>
    </div>
    <mat-accordion class="button--upload">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                <i class="fa fa-globe icon" aria-hidden="true"></i>
                    {{'Standaardtaal' |translate}}
                </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-radio-group [(ngModel)]="credentials.setting.language">
              <mat-radio-button (click)="switchLanguage('nl')" value="nl"> {{'Nederlands' |translate}}</mat-radio-button>
              <mat-radio-button (click)="switchLanguage('en')" value="en">{{'Engels' |translate}}</mat-radio-button>
          </mat-radio-group>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion class="button--upload">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                <i class="fa fa-paint-brush icon" aria-hidden="true"></i>
                    {{'Kleur' |translate}}
                </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-radio-group [(ngModel)]="credentials.setting.color" (change)="changeColor()">
              <mat-radio-button value="blue">{{'Blauw' |translate}}</mat-radio-button>
              <mat-radio-button value="orange">{{'Oranje' |translate}}</mat-radio-button>
          </mat-radio-group>
        </mat-expansion-panel>
    </mat-accordion>
    
    <mat-accordion class="button--upload">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                <i class="fa fa-user icon" aria-hidden="true"></i>
                    {{'Gebruikersafbeelding' |translate}}
                </mat-panel-title>
          </mat-expansion-panel-header>
          <img *ngIf="imageSrc" class="form__image" [src]="imageSrc" />
          <button for="icon" mat-button (click)="iconFileInput.click()">{{'Uploaden' |translate}}</button>
          <button mat-button (click)="cancel()">{{'Annuleer' |translate}}</button>
          <input class="hidden" name="icon" type="file" placeholder="Gebruikersafbeelding" #iconFileInput (change)="previewImage($event)"/> <br>
        </mat-expansion-panel>
    </mat-accordion>
    
    <button class="button--save" (click)="save()" mat-button>{{'Opslaan' |translate}}</button>
    
</div>