<div class="form project__section download__section">
    <form class="page__form" enctype="multipart/form-data">
        <div class="message">
          <div *ngIf="message.succes" class="notif--succes"> <i class="fa fa-check"></i> {{message.succes}}</div>
          <div *ngIf="message.error" class="notif--error"> <i class="fa fa-times"></i> {{message.error}}</div>
          <div *ngIf="message.warning" class="notif--warning"> <i class="fa fa-exclamation-triangle"></i> {{message.warning}}</div>
          <div class="clear"></div>
        </div>
 
        <div class="row">
            <button mat-button class="button--upload" (click)="getProjectsheet()">
                <i class="fa fa-picture-o icon" aria-hidden="true"></i>
                {{'Projectfiche' | translate}}
            </button>
        </div>

        <div class="row">
            <button mat-button class="button--upload" (click)="getProjectfile()">
                <i class="fa fa-picture-o icon" aria-hidden="true"></i>
                {{'Projectdossier' | translate}}
            </button>
        </div>
    </form>
</div>
