<div class="form" class="project__section">
    <form class="page__form" enctype="multipart/form-data">
      <div class="message">
        <div *ngIf="message.succes" class="notif--succes"> <i class="fa fa-check"></i> {{message.succes}}</div>
        <div *ngIf="message.error" class="notif--error"> <i class="fa fa-times"></i> {{message.error}}</div>
        <div *ngIf="message.warning" class="notif--warning"> <i class="fa fa-exclamation-triangle"></i> {{message.warning}}</div>
        <div class="clear"></div>
      </div>
      
      <div *ngIf="language === 'nl';else eng">
          <h5>{{'Nederlands'| translate}}</h5>
          <div>
            <label id="title" for="title">{{'Titel'| translate}} project</label><br>
            <input [disabled]='!(isAdmin || editable_by.title.includes(AuthenticatedUser))' id="title" name="title" type="text" maxlength="255" name="title" *ngIf="projectCredentials.title && projectCredentials.title.nl" [(ngModel)]="projectCredentials.title.nl.value" />
            <button mat-button (click)="isExpandedValidate.title = !isExpandedValidate.title" class="button--validate"><i class="fa fa-check" aria-hidden="true"></i></button>
            <app-validate class="input" #cmp *ngIf="projectCredentials.title.en" [projectCredentials]="projectCredentials.title.nl.validate"  [hidden]='!isExpandedValidate.title'></app-validate>
            <!--  *ngIf="isExpandedValidate.title" -->
            
          </div>
          <div>
            <label id="shorttitle" for="shorttitle">{{'Verkorte titel'| translate}} project</label><br> 
            <input [disabled]='!(isAdmin || editable_by.shorttitle.includes(AuthenticatedUser))' id="shorttitle" name="shorttitle" type="text" maxlength="255" name="shorttitle" *ngIf="projectCredentials.shorttitle && projectCredentials.shorttitle.nl" [(ngModel)]="projectCredentials.shorttitle.nl.value" />   
            <button mat-button (click)="isExpandedValidate.shorttitle = !isExpandedValidate.shorttitle" class="button--validate"><i class="fa fa-check" aria-hidden="true"></i></button>
            <app-validate class="input" #cmp *ngIf="projectCredentials.shorttitle.en" [projectCredentials]="projectCredentials.shorttitle.nl.validate"  [hidden]='!isExpandedValidate.shorttitle'></app-validate>
    
          </div>
          <div>
            <label id="subtitle" for="subtitle">{{'Subtitel'| translate}} project</label><br> 
            <input [disabled]='!(isAdmin || editable_by.subtitle.includes(AuthenticatedUser))' id="subtitle" name="subtitle" type="text" maxlength="255" name="subtitle" *ngIf="projectCredentials.subtitle && projectCredentials.subtitle.nl" [(ngModel)]="projectCredentials.subtitle.nl.value" required>
            <button mat-button (click)="isExpandedValidate.subtitle = !isExpandedValidate.subtitle" class="button--validate"><i class="fa fa-check" aria-hidden="true"></i></button>
            <app-validate class="input" #cmp *ngIf="projectCredentials.subtitle.en" [projectCredentials]="projectCredentials.subtitle.nl.validate"  [hidden]='!isExpandedValidate.subtitle'></app-validate>
          </div>
    
          <div>
            <h4>{{'Beschrijving'| translate}}</h4>
             <!-- read-only="true" enable="false" enable="false" contenteditable="false" disable="true" disabled  disabled="disabled"  -->
            <quill-editor [disabled]='!(isAdmin || editable_by.description.includes(AuthenticatedUser))' class="quill-editor" [style]="{height: '200px'}" name="description" *ngIf="projectCredentials.description && projectCredentials.description.nl" [(ngModel)]="projectCredentials.description.nl.value"><div quill-editor-toolbar>
                <span class="ql-formats">
                    <select class="ql-size" [title]="'Size'">
                      <option selected></option>
                      <option value="small"></option>
                      <option value="large"></option>
                      <option value="huge"></option>
                    </select>
                  </span>
                <span class="ql-formats">
                    <button class="ql-bold">Bold</button>
                    <button class="ql-italic">Italic</button>
                    <button class="ql-underline">Underline</button>
                    <button class="ql-strike">Strike</button>
                </span>
                <span class="ql-formats">
                  <select class="ql-align" [title]="'Aligment'">
                    <option selected></option>
                    <option value="center"></option>
                    <option value="right"></option>
                    <option value="justify"></option>
                  </select>
                </span>
                <span class="ql-formats">
                    <button class="ql-list" value="ordered"></button>
                    <button class="ql-list" value="bullet"></button>
                  </span>
              </div><div quill-editor-element name="description"></div></quill-editor>
              <button mat-button (click)="isExpandedValidate.description = !isExpandedValidate.description" class="button--validate validateQuill"><i class="fa fa-check" aria-hidden="true"></i></button>
              <app-validate class="textarea" #cmp *ngIf="projectCredentials.description.nl" [projectCredentials]="projectCredentials.description.nl.validate"  [hidden]='!isExpandedValidate.description'></app-validate>
    
          </div>
          <br>

      </div>


<ng-template #eng>
    <div *ngIf="language === 'eng'">
        <h5>{{'Engels'| translate}}</h5>

        <div>
          <label id="title" for="title">{{'Titel'| translate}} project<span id="req_1" class="req">*</span></label><br>
          <input [disabled]='!(isAdmin || editable_by.title.includes(AuthenticatedUser))' id="title" name="title" type="text" maxlength="255" name="title" *ngIf="projectCredentials.title && projectCredentials.title.en" [(ngModel)]="projectCredentials.title.en.value" />
          <button mat-button (click)="isExpandedValidate.title = !isExpandedValidate.title" class="button--validate"><i class="fa fa-check" aria-hidden="true"></i></button>
          <app-validate class="input" #cmp *ngIf="projectCredentials.title.en" [projectCredentials]="projectCredentials.title.en.validate"  [hidden]='!isExpandedValidate.title'></app-validate>
          <!--  *ngIf="isExpandedValidate.title" -->
        </div>

        <div>
          <label id="shorttitle" for="shorttitle">{{'Verkorte titel'| translate}} project</label><br>
          <input [disabled]='!(isAdmin || editable_by.shorttitle.includes(AuthenticatedUser))' id="shorttitle" name="shorttitle" type="text" maxlength="255" name="shorttitle" *ngIf="projectCredentials.shorttitle && projectCredentials.shorttitle.en" [(ngModel)]="projectCredentials.shorttitle.en.value" />   
          <button mat-button (click)="isExpandedValidate.shorttitle = !isExpandedValidate.shorttitle" class="button--validate"><i class="fa fa-check" aria-hidden="true"></i></button>
          <app-validate class="input" #cmp *ngIf="projectCredentials.shorttitle.en" [projectCredentials]="projectCredentials.shorttitle.en.validate"  [hidden]='!isExpandedValidate.shorttitle'></app-validate>

        </div>
        <div>
          <label id="subtitle" for="subtitle">{{'Subtitel'| translate}} project</label><br>
          <input [disabled]='!(isAdmin || editable_by.subtitle.includes(AuthenticatedUser))' id="subtitle" name="subtitle" type="text" maxlength="255" name="subtitle" *ngIf="projectCredentials.subtitle && projectCredentials.subtitle.en" [(ngModel)]="projectCredentials.subtitle.en.value" required>
          <button mat-button (click)="isExpandedValidate.subtitle = !isExpandedValidate.subtitle" class="button--validate"><i class="fa fa-check" aria-hidden="true"></i></button>
          <app-validate class="input" #cmp *ngIf="projectCredentials.subtitle.en" [projectCredentials]="projectCredentials.subtitle.en.validate"  [hidden]='!isExpandedValidate.subtitle'></app-validate>
        </div>

        <div>
          <h4>{{'Beschrijving'| translate}}</h4>
          <quill-editor [disabled]='!(isAdmin || editable_by.description.includes(AuthenticatedUser))' class="quill-editor" [style]="{height: '200px'}" name="description" *ngIf="projectCredentials.description && projectCredentials.description.en" [(ngModel)]="projectCredentials.description.en.value"><div quill-editor-toolbar>
              <span class="ql-formats">
                  <select class="ql-size" [title]="'Size'">
                    <option selected></option>
                    <option value="small"></option>
                    <option value="large"></option>
                    <option value="huge"></option>
                  </select>
                </span>
              <span class="ql-formats">
                  <button class="ql-bold">Bold</button>
                  <button class="ql-italic">Italic</button>
                  <button class="ql-underline">Underline</button>
                  <button class="ql-strike">Strike</button>
              </span>
              <span class="ql-formats">
                <select class="ql-align" [title]="'Aligment'">
                  <option selected></option>
                  <option value="center"></option>
                  <option value="right"></option>
                  <option value="justify"></option>
                </select>
              </span>
              <span class="ql-formats">
                  <button class="ql-list" value="ordered"></button>
                  <button class="ql-list" value="bullet"></button>
                </span>
            </div><div quill-editor-element name="description"></div></quill-editor>
            <button mat-button (click)="isExpandedValidate.description = !isExpandedValidate.description" class="button--validate validateQuill"><i class="fa fa-check" aria-hidden="true"></i></button>
            <app-validate class="textarea" #cmp *ngIf="projectCredentials.description.en" [projectCredentials]="projectCredentials.description.en.validate"  [hidden]='!isExpandedValidate.description'></app-validate>

              </div>
              <br>
        </div>
      </ng-template>

      <div class="timepicker">
          <h4>{{'Looptijd'| translate}}</h4>
          <mat-form-field>
              <input [disabled]='!(isAdmin || editable_by.date.includes(AuthenticatedUser))' matInput [matDatepicker]="pickerVan" placeholder="{{'Van'| translate}}" name="startdate" [(ngModel)]="projectCredentials.startdate">
              <mat-datepicker-toggle matSuffix [for]="pickerVan"></mat-datepicker-toggle>
              <mat-datepicker #pickerVan></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <input [disabled]='!(isAdmin || editable_by.date.includes(AuthenticatedUser))' matInput [matDatepicker]="pickerTot" placeholder="{{'Tot'| translate}}" name="enddate" [(ngModel)]="projectCredentials.enddate">
                <mat-datepicker-toggle matSuffix [for]="pickerTot"></mat-datepicker-toggle>
                <mat-datepicker #pickerTot></mat-datepicker>
              </mat-form-field>
      </div>

      <div *ngIf="isAdmin" class="states">
          <hr>
          <h4>{{'Status' | translate}}</h4>
          <mat-radio-group name="status" [(ngModel)]="projectCredentials.statusId">
              <mat-radio-button  *ngFor="let status of states" [value]="status.id"> {{ status.name |translate}}</mat-radio-button>
          </mat-radio-group>  
      </div>

      <button class="button--save" mat-button (click)="save()">{{'Opslaan'| translate}}</button>
      <button class="button--save" *ngIf="isAdmin" mat-button (click)="validate()">{{'Valideren'| translate}}</button>
  </form>
