@import '../../../styles.scss';


/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}


.nav__angle{
    float: right;
    font-size: 2rem;
}

.navbar-nav{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
        width: 100%;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 3px;
    }
    &>li>a:hover,
    &>li>a:focus,
    li.link-active a {
        font-weight: bold;
   }
} 



.navbar-inverse .navbar-toggle, .navbar-inverse{
    border: none;
}


/*navbar__header*/
.navbar__header{
    color: $white;
    float: left;
    height: 50px;
    font-size: 18px;
    line-height: 20px;
    width: 100%;
    padding-right: 26px;

    &:focus {
        outline: none;
    }
}

.navbar-inverse{
    background-color: $primary-color;
}

.nav-bottom{
    // position: fixed;
    bottom: 0;
   // width: calc(20% - 20px);
}
/*nav__user*/ 
.nav__user li{
   background-color: $white;
   &>a{
    color: $primary-color
   }
}

.navbar__header{
    .header__image{
        height: 100%;
        margin-top: -20px;
    }
    
    .header__user{
        text-transform: uppercase;
        font-size: 1.5rem;
        line-height: 4.7
        ;
        
    }
    
    .nav__angle{
        line-height: 3.5;
    
    }
}

#offcanvas__navigation{
    z-index: 999;
}

/*nav__project*/
.nav__project li{
    background-color: $secondary-color;
    &>a{
        color: $white;
    }
}

.navbar-header{
    width: 100%;
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        position: fixed;
        max-height: 100vh;
        overflow: scroll;
        width: calc(20% - 20px);
    }
    .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }
    .navbar-header {
        float: none;
    }
    .navbar-collapse {
        padding: 0px;
    }
    .navbar ul {
        float: none;
    }
    .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }
    .navbar li a {
        padding: 10px 16px;
        border-radius: 4px;
    }
    .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .navbar-inverse{
        min-height: 100vh;
    }
    #offcanvas__navigation{
        display: none;
        z-index: 99;
    }

    #offcanvas__header{
        display: none
    }
}


@media (max-width: 768px) {
    #navigation{
        display: none;
    }
    #header{
        display: none;
    }
    
    .navbar-inverse .navbar-nav>li>a{
        color: $white;
    }
}

.navbar-nav{
    li{
        margin-left: 0;
    }
} 