<div class="container">
    <div class="message">
        <div *ngIf="message.succes" class="notif--succes"> <i class="fa fa-check"></i> {{message.succes}}</div>
        <div *ngIf="message.error" class="notif--error"> <i class="fa fa-times"></i> {{message.error}}</div>
        <div *ngIf="message.warning" class="notif--warning"> <i class="fa fa-exclamation-triangle"></i> {{message.warning}}</div>
        <div class="clear"></div>
   </div>
    <div>
        <mat-form-field class="task__select">
            <mat-select name="users" class="selectlist" placeholder="Gebruiker" [(ngModel)]="credentials">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let user of users" [value]="user" >{{user.mail}}</mat-option>
            </mat-select>
          </mat-form-field>
    
    </div>
    
    <button class="button--save" (click)="save()" mat-button>{{'Opslaan' | translate}}</button>    
</div>
