<div class="table">
  <h5>{{'Meldingen'| translate}}</h5>
  <span class="header__notification"><i class="fa fa-bell"></i> 2</span>
  <hr>
  <table class="table" style="overflow-x:auto;">
      <thead>
        <tr>
          <th scope="col">{{'Project' | translate}}</th>
          <th scope="col">{{'Onderdeel' | translate}}</th>
          <th scope="col">{{'Datum' | translate}}</th>
          <th scope="col">{{'Door' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Naam project 1</td>
          <td>Algemeen</td>
          <td>24 - 11 - 2018</td>
          <td>John Doe</td>
        </tr>
        <tr>
            <td>Naam project 1</td>
            <td>Algemeen</td>
            <td>24 - 11 - 2018</td>
            <td>John Doe</td>
          </tr>
      </tbody>
    </table>
</div>